* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        min-height: 200vh;
    }

    main {
        width: 100%;
        min-height: 200vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70vh 30vh 45vh 1fr;
        background-color: black;

    }

    .container-color-b {
        margin: 1%;
        background-color: rgb(19, 119, 245);
        background: linear-gradient(to top, rgb(19, 119, 245), rgb(21, 191, 248));
        border-bottom-left-radius: 12%;
        border-bottom-right-radius: 12%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3% 5% 0% 5%;
    }

    .menu .four_points,
    .menu .map,
    .menu .menu,
    .container-section-one .point {
        filter: invert(1);
    }

    .text-title {
        font-size: 5.2vw;
    }

    .menu .menu,
    .menu .map,
    .menu .calendar {
        width: 20px;
        cursor: pointer;
    }

    .menu .four_points,
    .circle .arrow_left {
        width: 12px;
        cursor: pointer;
    }

    .circle {
        padding: 8px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: flex;
        align-self: center;
    }

    .text-color-w {
        color: #ffffff;
    }

    .text-color-b {
        color: #a7caf3;
    }

    .text-color-g {
        color: #95989c;
    }

    .container-section-one {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 20vh 12vh 3vh;
        justify-items: center;
    }

    .container-section-one button {
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: transparent;
        font-size: 0.5em;
        border: 1px solid white;
        border-radius: 50px;
        padding: 2px 8px 2px 8px;
        margin: 5px 0px 10px 0px;
        cursor: pointer;
    }

    .container-section-one .point {
        width: 5px;
        margin: 0.5vh;
    }

    .container-section-one .thunder {
        max-width: 130px;
    }

    .container-date {
        display: flex;
        flex-direction: column;
    }

    .container-section-one p:nth-of-type(1) {
        display: inline-flex;
        position: relative;
        align-items: center;
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    .text1,
    .text2,
    .text3,
    .text4,
    .text5 {
        font-weight: bold;

    }


    .container-dates-climate {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        height: 10vh;
        width: 80%;


    }

    .dates-clim {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


    }

    .dates-clim .water {
        width: 22px;
        margin: 10px 0px 5px 0px;
    }

    .container-today {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2vh 10vw 5vh 10vw;
    }

    .link-text {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: start;
        text-decoration: none;
    }

    .link-text:hover {
        color: #8fb7e9;
        font-size: 3vw;
    }

    .container-today .arrow_right {
        width: 12px;
    }

    .container-cards {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        margin: 0vh 5vw 0vh 5vw;

    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;
        width: 18vw;
        height: 15vh;
        margin: 5%;
    }

    .card:active {
        background-color: #4891eb;

    }

    .card:active span:nth-of-type(2) {
        color: #ffffff;
    }

    .card span:nth-of-type(1) {
        font-size: 3.2vw;
        margin: 2vh 0vw 1vh 0vw;
    }


    .card img {
        width: 27px;
    }

    .card span:nth-of-type(2) {
        margin: 1vh 0vw 2vh 0vw;
    }


    .text1 {
        font-size: 18vw;
    }

    .text3 {
        font-size: 3vw;
    }

    .text4 {
        font-size: 2.7vw;
    }

    .text5 {
        font-size: 15vw;
    }


    .text2 {
        font-size: 4.2vw;
    }

    .container-section-one p:nth-of-type(1) {
        margin-top: 7vh;
    }


    .dates-clim .water {
        width: 22px;
        margin: 10px 0px 5px 0px;
    }


    .container-section-three {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3vh;
        justify-items: center;
    }

    .container-date-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .container-date-two-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .text-number {
        font-size: 10vw;
        font-weight: 300;
        color: #6fabf4;
    }

    .container-date-two .rain_ext {
        width: 100%;
        margin: 0vh 2vw 0vh 2vw;
    }


    .container-section-four {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        justify-content: space-between;
        margin: 2vh 8vw 2vh 8vw;

    }

    .container-climate-week {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container-climate-week span,
    .container-climate-week p {
        font-size: 3.4vw;
    }

    .container-climate-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-climate-icon span {
        margin-left: 1.5vh;
    }

    .link:hover {
        background-color: rgb(10, 64, 163);
    }


}