body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#content {
    margin: auto;
    width: 680px;
}

#content-about {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: 50px;
}

#about-title {
    margin: auto;
}

#title-contacts {
    margin: 50px 0px 10px 0px;
}

#contacts {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    grid-gap: 1rem;
}

#content-image {
    margin: 15px 0px 50px 0px;
}

#content-image-text {
    display: inline-flex;
}

#a-arrow {
    border-radius: 50%;
    border: none;
    background: rgb(232, 232, 237);
    display: block;
    margin: auto;
}

#a-arrow>img {
    width: 12px;
}

#image-1 {
    display: flex;
    justify-content: center;
    margin-left: -120px;
    border-radius: 10px;
}

#imagen-text {
    font-size: 14px;
    font-weight: 700;
    color: rgb(146, 146, 153);
    margin-top: 10px;
}

#section {
    font-size: 19px;
}

span {
    display: block;
}

.date {
    font-size: 13px;
    color: rgb(146, 146, 153);
    display: block;
}

h1 {
    font-size: 2.8em;
}

.subtitle {
    font-size: 1.5em;
}

.btn-social-networks {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.btn-social-networks>img {
    width: 20px;
    filter: opacity(0.3) drop-shadow(0 0 0 gray);
}

.a-content {
    display: flex;
}

.paragraphs {
    margin-top: 60px;
}

p {
    margin-top: 30px;
}

.contacts-option>h3 {
    margin-bottom: auto;
}