body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#content {
    margin: auto;
    width: 680px;
}

#content-about {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: 50px;
}

#about-title {
    margin: auto;
}

#title-contacts {
    margin: 50px 0px 10px 0px;
}

#contacts {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
}

#content-image {
    margin: 15px 0px 50px 0px;
    width: 700px;
}

#content-image>figure {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#a-arrow {
    border-radius: 50%;
    border: none;
    background: rgb(232, 232, 237);
    display: block;
    margin: auto;
}

#a-arrow>img {
    width: 10px;
    padding: 6px;
}

#a-arrow>img:hover {
    background: rgb(220, 220, 220);
    border-radius: 50%;
    cursor: pointer;
}

#image-1 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#imagen-text {
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    color: rgb(146, 146, 153);
    margin-top: 10px;
    letter-spacing: 0.04em;
}

#section {
    font-size: 19px;
}

span {
    display: block;
}

.date {
    font-size: 13px;
    color: rgb(146, 146, 153);
    display: block;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.subtitle {
    font-size: 1.5em;
}

.social-networks{
    list-style-type: none;
    padding: 0px;
}

.group-social-networks{
    display: flex;
}

.social-networks li{
    display: inline-block;
    margin-right: 15px;
}


.social-networks li img{
    filter: grayscale(100%);
    width: 20px;
}
 

.btn-social-networks {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.btn-social-networks>img {
    width: 20px;
    filter: opacity(0.3) drop-shadow(0 0 0 gray);
}

.a-content {
    display: flex;
    margin-left: 10px;
}

.paragraphs {
    margin-top: 60px;
}

p {
    margin-top: 30px;
    line-height: 1.421103;
    letter-spacing: .012em;
    font-size: 18px;
}

.contacts-option>h3 {
    margin-bottom: auto;
}

